<%= form_with(model: @todo) do |form| %>
  <%= label(:description, 'Description of activitie') %>
  <%= form.text_field :description %>

  <%= label(:completed, 'Completly?') %>
  <%= form.check_box :completed %>

  <%= form.submit 'Submit' %>
  <h6>*Note: Necesitas escribir una descripción</h6>
<% end %>