
<%= render 'navbar' %>

<div class="container well">
	<br>

	<div class="row">
		<div class="col-md-6">
			<% @todo.where(completed: false).find_each do |info| %>
			<h1><%= link_to info.description, info %></h1>
			<h5><%= info.completed %></h5>
			<h5><%= link_to 'Edit', edit_path(info) %> - OR - <%= link_to("Delete", destroy_path(info), :data => {:confirm => "La neta? xD (realy ?)", :method => "delete"}) %> - OR - <%= link_to("Completed", completed_path(info), :data => {:confirm => "Buen trabajo men.. pero are you sure?)", :method => "completed"}) %></h5>
			<% end %>
		</div>	

		<div class="col-md-6">
			<% @todo.where(completed: true).find_each do |info| %>
			<h1><%= link_to info.description, info %></h1>
			<h5><%= info.completed %></h5>
			<h5><%= link_to 'Edit', edit_path(info) %> - OR - <%= link_to("Delete", destroy_path(info), :data => {:confirm => "La neta? xD (realy ?)", :method => "delete"}) %></h5>
			<% end %>
		</div>	
	</div>
</div>
